<a href="https://colab.research.google.com/github/diegoalvzfdez/master-data-science/blob/master/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Obtenemos los datos guardados en la nube de Google Drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
cd /content/drive/My\ Drive/TFM\ Data\ Science/Gonzalo\ Velarde

/content/drive/My Drive/TFM Data Science/Gonzalo Velarde

In [0]:
#leemos el fichero
df = pd.read_csv('Velarde Rodriguez_Gonzalo_OD_31052017_120629_ELE.CSV', sep = ';', index_col= 0, header = 0, encoding = "ISO-8859-1")

Tenemos un fichero con la siguiente forma:

![](https://drive.google.com/uc?export=view&id=15UODzawnIyQqmrKIcTLwNOBOkcjqJh28)

Lo que tenemos es una representación de la profundidad de un ojo (eje z) en las coordenadas x (primera columna) y coordenadas y (primera fila)

Para poder manejar estos datos, en primer lugar buscaremos una manera de poder tener los datos más significativos de la manera más comoda para introducirlos en un clasificador.

En esta zona apuntaré las ideas que se me vayan ocurriendo para tratar dicha problemática (esperemos que no tener que escribir muchas):

1. Conseguir un vector de los n puntos con mayor profundidad: para ello vamos a tener que stackear los datos para conseguir todos los valores en una misma columna para después ordenarlos.

# Idea 1

In [11]:
#Stackeamos los datos para obtener las coordenadas de cada punto
df_stacked = df.stack()
df_stacked = df_stacked.reset_index()
df_stacked = df_stacked.rename(index = str, columns = {'FRONT': 'X', 'level_1': 'Y', 0: 'Z'})
#necesitamos una columna que simule el índice del dataframe
df_stacked['ID'] = df_stacked.index
df_stacked['ID'] = pd.to_numeric(df_stacked['ID'])
df_stacked.head()

       X       Y     Z  ID
0  5,200  -0,900  1967   0
1  5,200  -0,800  1954   1
2  5,200  -0,700  1943   2
3  5,200  -0,600  1933   3
4  5,200  -0,500  1925   4

Como se puede observar en el fichero, las coordenadas del ojo finalizan cuando en lugar de un numero hay un nombre en la columna del eje X, por lo que a partir de ese punto hay que cortar todo el dataset

In [12]:
df_stacked_first_eye = df_stacked[df_stacked['ID'] < list(df_stacked[df_stacked['X'] == 'BACK']['ID'])[0]]
df_stacked_first_eye.tail()

           X      Y     Z    ID
9973  -5,900  0,100  2650  9973
9974  -5,900  0,200  2653  9974
9975  -5,900  0,300  2658  9975
9976  -5,900  0,400  2665  9976
9977  -5,900  0,500  2674  9977

Para el siguiente paso necesitamos obtener los puntos de mayor profundidad, para obtener los puntos más característicos de nuestra muestra.

In [13]:
#Borramos las columnas que no nos son necesarias
df_stacked_first_eye.drop(['X', 'Y', 'ID'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

Los valores obtenidos nos vienen en forma de bóveda invertida, por lo que los valores con mayor valor de profundidad están en los extremos. Para poder tener unos datos acordes a la desviación proporcional de la curvatura del ojo, vamos a convertir los datos para obtener una bóveda sin invertir.

In [14]:
#obtenemos el valor máximo de profundidad del ojo

df_stacked_first_eye['Z'] = pd.to_numeric(df_stacked_first_eye['Z'])
df_stacked_first_eye.sort_values('Z', ascending=False, inplace = True)
maxima_profundidad = df_stacked_first_eye['Z'][0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
#una vez obtenido el máximo valor de profundidad, modificamos el valor de todos los puntos para tenerlos obtener la bóveda sin invertir

df_stacked_first_eye['Z'] = (1 - (df_stacked_first_eye['Z']/maxima_profundidad))*maxima_profundidad

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#ordenamos los valores de Z para obtener los puntos más elevados
df_stacked_first_eye['Z'] = pd.to_numeric(df_stacked_first_eye['Z'])
df_stacked_first_eye.sort_values('Z', ascending=False, inplace = True)
df_stacked_first_eye.head(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Z
4500  2687.0
4613  2687.0
4499  2686.0
4726  2686.0
4614  2686.0
4725  2686.0
4501  2686.0
4727  2686.0
4612  2686.0
4387  2685.0
4611  2685.0
4615  2685.0
4838  2684.0
4502  2684.0
4724  2684.0