<a href="https://colab.research.google.com/github/diegoalvzfdez/master-data-science/blob/master/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

#Obtenemos los datos guardados en la nube de Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
cd /content/drive/My\ Drive/TFM\ Data\ Science/Gonzalo\ Velarde

/content/drive/My Drive/TFM Data Science/Gonzalo Velarde

In [0]:
#leemos el fichero
df = pd.read_csv('Velarde Rodriguez_Gonzalo_OD_31052017_120629_ELE.CSV', sep = ';', index_col= 0, header = 0, encoding = "ISO-8859-1")

Tenemos un fichero con la siguiente forma:

![](https://drive.google.com/uc?export=view&id=15UODzawnIyQqmrKIcTLwNOBOkcjqJh28)

Lo que tenemos es una representación de la profundidad de un ojo (eje z) en las coordenadas x (primera columna) y coordenadas y (primera fila)

Para poder manejar estos datos, en primer lugar buscaremos una manera de poder tener los datos más significativos de la manera más comoda para introducirlos en un clasificador.

En esta zona apuntaré las ideas que se me vayan ocurriendo para tratar dicha problemática (esperemos que no tener que escribir muchas):

1. Conseguir un vector de los n puntos con mayor profundidad: para ello vamos a tener que stackear los datos para conseguir todos los valores en una misma columna para después ordenarlos.

# Idea 1

In [123]:
#Stackeamos los datos para obtener las coordenadas de cada punto
df_stacked = df.stack()
df_stacked = df_stacked.reset_index()
df_stacked = df_stacked.rename(index = str, columns = {'FRONT': 'X', 'level_1': 'Y', 0: 'Z'})
#necesitamos una columna que simule el índice del dataframe
df_stacked['ID'] = df_stacked.index
df_stacked['ID'] = pd.to_numeric(df_stacked['ID'])
df_stacked.head()

       X       Y     Z  ID
0  5,200  -0,900  1967   0
1  5,200  -0,800  1954   1
2  5,200  -0,700  1943   2
3  5,200  -0,600  1933   3
4  5,200  -0,500  1925   4

Como se puede observar en el fichero, las coordenadas del ojo finalizan cuando en lugar de un numero hay un nombre en la columna del eje X, por lo que a partir de ese punto hay que cortar todo el dataset

In [136]:
df_stacked_first_eye = df_stacked[df_stacked['ID'] < list(df_stacked[df_stacked['X'] == 'BACK']['ID'])[0]]
df_stacked_first_eye.tail()

           X      Y     Z    ID
9973  -5,900  0,100  2650  9973
9974  -5,900  0,200  2653  9974
9975  -5,900  0,300  2658  9975
9976  -5,900  0,400  2665  9976
9977  -5,900  0,500  2674  9977

Para el siguiente paso necesitamos obtener los puntos de mayor profundidad, para obtener los puntos más característicos de nuestra muestra.